<!-- Navbar -->
<nav>
  <ul>
    <li>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="nav-close-btn">&times;</a>
        <a href="#" class="nav-home">Home</a>
        <a href="#" class="nav-about">About</a>
        <a href="#" class="nav-current-projects">Current Projects</a>
        <a href="#" class="nav-add-project">Add A Project</a>
        <a href="mailto:SpiffyPlus@gmail.com" class="nav-contact"><i class="fa fa-envelope"></i>Contact</a>
      </div>
      <span style="font-size:30px;cursor:pointer" class="nav-open-btn">&#9776; menu</span>
    </li>
    <li class="googleBtn">
      <div id="google-signIn1"></div>
    </li>
  </ul>
</nav>


<!-- Header -->
<div class="header" id="home">
  <img class="penguin-img" src="images/logos/spiffy-logo-penguin-white-eye.png">
  <h1>SPIFFY<span>+</span></h1>
  <p>Make your city Spiffy in a jiffy.</p>
</div>


<!-- About -->
<div class="about" id="about">
  <div class="interstitial form-title">
    <h1>ABOUT SPIFFY+</h1>
  </div>
  <p>Spiffy+ puts neighborhood beautification back into the hands of residents.
  You can post a new issue or project in your area you'd like to see fixed, and
  other users can vote on if they'd like to see that change. Once you have enough
  votes, we'll send our team out to start working on your project.</p>
  <div class="grid-container examples"></div>
</div>

<!-- Current Projects -->
<div class="current-projects" id="current-projects">
  <div class="interstitial form-title">
    <h1>CURRENT PROJECTS</h1>
  </div>
  <div class="container">
    {{!-- <h2>Take a Look at Our Current Projects</h2> --}}
    <div id="map-container"></div>
    <div class="current-project-info" id="currentProjectInfo"></div>
    <div class="issues">
      <button class="tippy-btn" data-tippy-animation="perspective" title="<span class='tippyTip'><strong>Every</strong> issue. <strong>Every</strong> user.<br>You have been warned.</span>" id="viewAll">View All Issues</button>
      <button class="tippy-btn" data-tippy-animation="perspective" title="<span class='tippyTip'>Just your issues. Not that you <strong>have</strong> issues...</span>" id="viewOneUser">View My Issues</button>
      <button class="tippy-btn" data-tippy-animation="perspective" title="<span class='tippyTip'>Only new issues, these need <strong>votes</strong>!</span>" id="viewNew">View New Issues</button>
      {{#each issue}}
      <div class="issue issue-header">
        <p class="issue-title">{{this.title}}</p>
      </div>
      <div class="modal issue-body-modal">
        <div class="issue-body">
          <div class="issue-title">{{this.title}}</div>
          <div class="issue-img-div"><img class="issue-img" src={{this.imglocation}}></div>
          <div class="issue-details">
            <p><u>CATEGORY:</u><span class="issue-type" data-id={{this.id}}> {{this.projectType}}</span></p>
            <p><u>LOCATION:</u><span class="issue-location" data-id={{this.id}}> {{this.location}}</span></p>
            <p><u>STATUS:</u><span class="issue-status {{this.status}}" data-id={{this.id}}> {{this.status}}</span></p>
            <p><u>SCORE:</u><span class="issue-score" data-id={{this.id}}> {{this.score}}</span></p>
            <p><u>DATE:</u><span class="issue-date" data-id={{this.id}}> {{this.createdAt}}</span></p>
            <button type="button" class="vote-btn upvote-btn" data-id={{this.id}}><i class="far fa-thumbs-up"></i></button>
            <button type="button" class="vote-btn downvote-btn" data-id={{this.id}}><i class="far fa-thumbs-down"></i></button>
            <a class="button twitter-btn" data-id={{this.id}} href="https://twitter.com/spiffyplus/status/{{this.tweetID}}" target="_blank"><i class="fab fa-twitter"></i>&nbsp;View on Twitter</a>
            <button type="button" class="close-issue-btn" data-id={{this.id}}><i class="fas fa-flag-checkered"></i>&nbsp;Close Issue</button>
            </div>
            <button type="button" class="u-full-width close">Close &times;</button>

        </div>
      </div>
      {{/each}}
    </div>
  </div>


<!-- Add A Project -->
<div class="interstitial form-title" id="add-a-project">
  <h1>ADD A PROJECT</h1>
</div>
<h2>Have a project in your neighborhood? Tell us about it!</h2>
  <div class="container">
    <form class="new-issue-form">
      <div class="row">
        <div class="six columns">
          <label for="user-project-name">Project Name: </label>
          <input required class="u-full-width" type="text" placeholder="Litter in the park, etc." id="userProjectName" maxlength="20">
        </div>
        <div class="six columns">
          <label for="user-project-type">Project Type: </label>
          <select class="u-full-width" id="userProjectType">
          <option value="Clean Up">Clean Up</option>
          <option value="Paint">Paint</option>
          <option value="Plant">Plant</option>
        </select>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="user-location">Location: </label>
          <input required class="u-full-width" id="user-location" type="text">
        </div>
        <div class="six columns u-full-width">
          <label for="userImg">Upload an Image: </label>
          <input type="file" accept="image/*" id="userImg">
        </div>
      </div>
      <button type="submit" id="submit-new-issue" class="tippy-btn" data-tippy-animation="perspective" title="<span class='tippyTip'>Make sure you filled out all the fields!</span>">Submit</button>
      <div class="error-message"></div>
    </form>
    <div class="modal" id="formSuccess">
      <div class="form-success" >
        <p>Your project has been submitted!</p>
        <a id="back-to-top" href="#currentProjectInfo">See all our current projects</a>
      </div>
    </div>
  </div>

  <!-- google sign in failure -->
  <div class="modal" id="google-signIn-failure">
    <div class="google-failure">
      <div class="close-btn">x</div>
      <p>Please Sign In to perform this function.</p>
      <div class="signIn-modal" id="google-signIn2"></div>
    </div>
  </div>

 <!-- footer -->
<footer class="footer-distributed" id="contact">

    <h3>Spiffy<span>+</span></h3>
    <p class="footer-links">
      <a href="https://github.com/awyand" target="_blank">Aaron Wyand</a>
      ·
      <a href="https://github.com/henryhankdc" target="_blank">Henry Mesias</a>
      ·
      <a href="https://github.com/hillary-joyce" target="_blank">Hillary Scofield</a>
      ·
      <a href="https://github.com/jfriedman823" target="_blank">Jeremy Friedman</a>
    </p>

      <a href="mailto:spiffyplus@gmail.com" class="footer-email"><i class="fa fa-envelope"></i>spiffyplus@gmail.com</a>

    <div class="footer-icons">
      <a href="https://github.com/awyand/spiffy-plus" target="_blank" class="footer-icon"><i class="fab fa-github"></i></a>
      <a href="https://twitter.com/spiffyplus" target="_blank" class="footer-icon"><i class="fab fa-twitter"></i></a>
    </div>

</footer>
